
* {
  text-align:center;
  font-family: "Lucida Console", "Courier New", monospace;
}
h1{
  color:grey;
}
h2{
  color: MediumSeaGreen;
}
  a:link{
    color:grey;
  }
  a:hover{
    color: MediumSeaGreen;
  }
/* I need help with the links and hover aspects of it. They work just fine but the colors straight up do not work */
